html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: 'Bevan';
  font-size: 22px;
  background-color: whiteSmoke;
}



#styled-container {
  float: left;
}

.main-container {
  width: 100%;
  margin: 1px auto;
  color: white;
  padding: 15px;
  background-color: slateGrey;
  text-shadow: 5px 5px 5px midnightBlue;
  font-family: 'Bevan';

}

.messages-container {
  box-shadow: 10px 10px 5px midnightblue;
  width: 75%;
  height: 20%;
  margin-left: 225px;
  padding-top: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: solid;

  border-color: slategray;
  border-width: 1px;
  font-size: 22px;

}


.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
  color: midnightblue;


}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}
